/*
==========================================================================
=== Theme: Default Responsive Theme
=== By: Ebow
=== Website: http://ebow.ie
=== Version: 1.0
=== For: 
=== Last Edit: 
========================================================================== 
*/

/*
===========================================================================
=== BASE STYLE ============================================================
===========================================================================
*/   

	html, body {height: 100%;}
		   
	/* Custom Fonts */
	h1 {font-size:24px; color:#000000; line-height:24px; font-weight:bold; margin:10px 0;}
	h2 {font-size:18px; color:#000000; line-height:18px; font-weight:bold; margin:10px 0;}
	h3 {font-size:14px; color:#000000; line-height:16px; font-weight:bold; margin:10px 0;}
	h4 {font-size:12px; color:#000000; line-height:16px; font-weight:bold; margin:10px 0; padding:12px;}
	h5 {font-size:24px; color:#000000; line-height:24px; margin:15px 0 19px;}
	p {color:#666666; line-height:16px; margin:10px 0; font-size:12px;}
	
	/* Slow hover effect */
	a, input[type='submit'], button {text-decoration:none; color:#666666; text-decoration:none; 
			-o-transition: color .6s ease-out, background-color .3s ease-in, opacity .1s ease-out;  
			-ms-transition:color .6s ease-out, background-color .3s ease-in, opacity .1s ease-out;  
			-moz-transition:color .6s ease-out, background-color .3s ease-in, opacity .1s ease-out;
			-webkit-transition:color .6s ease-out, background-color .3s ease-in, opacity .1s ease-out; 
			transition:color .6s ease-out, background-color .3s ease-in, opacity .1s ease-out;
	}
	a:hover {color:#1a2e89;}  
   
/*
===========================================================================
=== HEADER ================================================================
===========================================================================
*/
   
   	header {	}
   	#header_inner {	}
   
/*
===========================================================================
=== WRAPPER / CONTENT =====================================================
===========================================================================
*/
   
	#wrapper {}
	#wrapper_inner {}
	#container {}

/*
===========================================================================
=== HOMEPAGE ONLY CONTENT =================================================
===========================================================================
*/

   	#container.home {}
   
/*
===========================================================================
=== SIDEBARS ==============================================================
===========================================================================
*/
   
	.side_holder {width:240px; height:auto; float:right;}
	ul.sidebar {list-style:none; width:240px;}
	ul.sidebar > li {}
	ul.sidebar > li:last-child {}
   
/*
===========================================================================
=== FOOTER ================================================================
===========================================================================
*/
   
	footer {}
	#footer_inner {}
   
/*
===========================================================================
=== ISOTOPE ===============================================================
===========================================================================
*/
   
	.isotope-item {z-index: 2;}
	.isotope-hidden.isotope-item {pointer-events: none; z-index: 1;}
	/**** Isotope CSS3 transitions ****/
	.isotope, .isotope .isotope-item {-webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s;}
	.isotope {-webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width;}
	.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity;}
	/**** disabling Isotope CSS3 transitions ****/
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {-webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s;}
	/* disable CSS transitions for containers with infinite scrolling*/
	.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none;}
	
/*
===========================================================================
=== MISC ==================================================================
===========================================================================
*/
   
   .mobile_only {display:none;}
